{% extends 'default/app-main.html.twig' %}

{%  block styles %}
{{ parent() }}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block menu %}
<li>
  <a href="{{ path('servicos') }}">Início</a>
</li>
<li>
  <a href="{{ path('servicos') }}">Etc</a>
</li>
<li>
  <a href="{{ path('sucessos') }}">Conta</a>
</li>
<li>
  <a href="{{ path('login') }}">Sair</a>
</li>
{% endblock %}

{% block body %}
<div class="content-section-b">
  {% block bodyapp %}
  {{ parent() }}
  {% endblock %}
  <div class="container">

    <div class="row">
      <!-- AREA DE PESQUISA DE CLIENTES -->
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <img src="img/i.png">
            <h3> Encontrar Clientes </h3>
          </div>

          <div class="panel-body">
            <div class="form-group">
              <label class="control-label">Tipo de Cliente </label>
              <!-- SELECIONA O TIPO DE CLIENTE PF OU PJ  -->
              <div class="form-group"  style="margin-bottom: 10px">
                <label class="inline">
                  <input checked type="radio" id="pesquisa-1"
                    name="status" value="1" style="margin-bottom: 10px"
                    onchange="mudaTipoClientePesquisa()">
                  P Física
                </label>
                <label class="inline">
                  <input checked type="radio" id="pesquisa-2"
                    name="status" value="2" style="margin-bottom: 10px"
                    onchange="mudaTipoClientePesquisa()">
                  P Jurídica
                </label>
                <!-- <label class="radio-inline">
                  <input type="radio" id="pesquisa-0" name="status" value="0" style="margin-bottom: 10px">
                  Irrelevante
                </label> -->
              </div>

              <!-- AREA PARA INFORMAR OS CAMPOS PARA PESQUISA POR PF -->
              <div id="pesquisa-pessoa-fisica">
                <!--  INFORMAR O CPF DO CLIENTE PF -->
                <label class="control-label"> CPF </label>
                <div>
                  <input class="input-md textinput textInput" id="pf-cpf" placeholder="CPF do cliente aqui" style="margin-bottom: 10px" type="text" />
                </div>

                <!-- INFORMAR O NOME DO CLIENTE PF -->
                <label class="control-label"> NOME </label>
                <div>
                  <input class="input-md textinput textInput" id="pf-nome" placeholder="Nome do cliente aqui" style="margin-bottom: 10px" type="text" />
                </div>
              </div>

              <!-- AREA PARA INFORMAR OS CAMPOS PARA PESQUISA POR PJ -->
              <div id="pesquisa-pessoa-juridica" style="display: none;">
                <!--  INFORMAR O CNPJ DO CLIENTE PJ -->
                <label class="control-label"> CNPJ </label>
                <div>
                  <input class="input-md textinput textInput" id="pj-cnpj" placeholder="CNPJ do cliente aqui" style="margin-bottom: 10px" type="text" />
                </div>

                <!-- INFORMAR A RAZAO SOCIAL DO CLIENTE PJ -->
                <label class="control-label"> RAZÃO SOCIAL </label>
                <div>
                  <input class="input-md textinput textInput" id="pj-razao-social" placeholder="Razão Social do cliente aqui" style="margin-bottom: 10px" type="text" />
                </div>

                <!--  INFORMAR O CPF DO CLIENTE PJ -->
                <label class="control-label"> CPF RESPONSÁVEL </label>
                <div>
                  <input class="input-md textinput textInput" id="pj-cpf" placeholder="CPF do responsavel aqui" style="margin-bottom: 10px" type="text" />
                </div>
              </div>

            </div>
            <button class="btn btn-primary" onclick="pesquisarClientes()" style="margin-bottom: 10px;">
              Pesquisar
            </button>
          </div>
          <div class="panel-body">
            <button class="btn btn-default" onclick="carregaCliente(0)">Novo Cliente</button>
          </div>
      </div>
    </div>

    <!--  -->
    <div class="col-md-8">
      <div class="panel panel-default">
          <div class="panel-heading">
              <img src="img/i.png">
              <h3> Controle </h3>
          </div>
          <div class="panel-body">
            Ao lado, encontre ou clique para inserir um Cliente

          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- controle de caixa selecionado ao lado -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3> Controle de Cliente </h3>
        </div>
        <div class="panel-body" id="controle-cliente">
          Acima, clique em Novo Cliente para adicionar os dados de um cliente
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-b -->
{% endblock %}

{% block contato %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function carregaCliente(id){
  $.ajax({
    type : "POST",
    url : '{{path('api_controle_cliente')}}',
    data: {id:id},
    success : function(data) {
      $("#controle-cliente").html(data);
    },
    error : function(request, status, error) {
      $("#controle-cliente").html(request.responseText);
      //notificar('center', 'error', request.responseText, 2500);
    }
  });
}

function mudaTipoClientePesquisa(){
  if ($("#pesquisa-1").is(":checked")){
    $("#pesquisa-pessoa-juridica").fadeOut("fast");
    $("#pesquisa-pessoa-fisica").fadeIn("slow");
  } else {
    $("#pesquisa-pessoa-fisica").fadeOut("fast");
    $("#pesquisa-pessoa-juridica").fadeIn("slow");
  }
}

function pesquisarClientes(){
  var tipo = $("#pesquisa-1").is(":checked")?1:2;
  alert(tipo);
  return;
  $.ajax({
    type : "POST",
    url : '{{path('api_pesquisar_clientes')}}',
    data: {
      tipo:tipo,
      cpf:$("#pf-cpf").val(),
      cnpj:$("#pj-cnpj").val(),
      razao:$("#pj-razao-social").val(),
      cpfresponsavel:$("#pj-cpf").val(),
      nome:$("#pf-nome").val()
    },
    success : function(data) {
      $("#controle-cliente").html(data);
    },
    error : function(request, status, error) {
      $("#controle-cliente").html(request.responseText);
      //notificar('center', 'error', request.responseText, 2500);
    }
  });
}
</script>
{% endblock %}
