{% extends 'default/app-main.html.twig' %}

{%  block styles %}
{{ parent() }}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block menu %}
<li>
  <a href="{{ path('servicos') }}">Início</a>
</li>
<li>
  <a href="{{ path('servicos') }}">Etc</a>
</li>
<li>
  <a href="{{ path('sucessos') }}">Conta</a>
</li>
<li>
  <a href="{{ path('login') }}">Sair</a>
</li>
{% endblock %}

{% block body %}
<div class="content-section-b">
  {% block bodyapp %}
  {{ parent() }}
  {% endblock %}
  <div class="container">

    <div class="row">
      <!-- AREA DE PESQUISA DE CLIENTES -->
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <img src="img/i.png">
            <h3> Encontrar Clientes </h3>
          </div>

          <!--  -->
          <div class="panel-body">
            <dv class="col-md-3">
              <div class="form-group">
                <div class="form-group required">

                  <!-- SELECIONA O TIPO DE CLIENTE PF OU PJ  -->
                  <label class="control-label col-md-4  requiredField">Tipo de Cliente </label>
                  <div class="controls col-md-8 "  style="margin-bottom: 10px">
                    <label class="radio-inline">
                      <input checked type="radio" id="pesquisa-1" name="status" value="1"  style="margin-bottom: 10px">
                      Pessoa Física
                    </label>
                    <label class="radio-inline">
                      <input type="radio" id="pesquisa-2" name="status" value="2"  style="margin-bottom: 10px">
                      Pessoa Jurídica
                    </label>
                    <!-- <label class="radio-inline">
                    <input type="radio" id="pesquisa-0" name="status" value="0" style="margin-bottom: 10px">
                    Irrelevante
                  </label> -->
                </div>

                <!-- AREA PARA INFORMAR OS CAMPOS PARA PESQUISA POR PF -->
                <div id="pesquisa-pessoa-fisica">

                  <!--  INFORMAR O CPF DO CLIENTE PF -->
                  <label class="control-label col-md-4"> CPF </label>
                  <div class="controls col-md-8 ">
                    <input class="input-md textinput textInput form-control" id="pf-cpf" placeholder="Informe o CPF do cliente aqui" style="margin-bottom: 10px" type="text" />
                  </div>

                  <!-- INFORMAR O NOME DO CLIENTE PF -->
                  <label class="control-label col-md-4"> NOME </label>
                  <div class="controls col-md-8 ">
                    <input class="input-md textinput textInput form-control" id="pf-cpf" placeholder="Informe o CPF do cliente aqui" style="margin-bottom: 10px" type="text" />
                  </div>
                </div>
              </div>
            </div>
            </div>
            <button class="btn btn-primary" onclick="carregaCliente(1)" style="margin-bottom: 10px;">
              Pesquisar
          </button>
        </div>
        <div class="panel-body">
          <button class="btn btn-default" onclick="carregaCliente(0)">Novo Cliente</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- controle de caixa selecionado ao lado -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3> Controle de Cliente </h3>
        </div>
        <div class="panel-body" id="controle-cliente">
          Acima, clique em Novo Cliente para adicionar os dados de um cliente
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-b -->
{% endblock %}

{% block contato %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function carregaCliente(id){
  $.ajax({
    type : "POST",
    url : '{{path('api_controle_cliente')}}',
    data: {id:id},
    success : function(data) {
      $("#controle-cliente").html(data);
    },
    error : function(request, status, error) {
      $("#controle-cliente").html(request.responseText);
      //notificar('center', 'error', request.responseText, 2500);
    }
  });
}
</script>
{% endblock %}
