{% extends 'default/app-main.html.twig' %}

{%  block styles %}
{{ parent() }}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block menu %}
  <li>
      <a href="{{ path('servicos') }}">Início</a>
  </li>
  <li>
      <a href="{{ path('servicos') }}">Etc</a>
  </li>
  <li>
      <a href="{{ path('sucessos') }}">Conta</a>
  </li>
  <li>
      <a href="{{ path('login') }}">Sair</a>
  </li>
{% endblock %}

{% block body %}
<div class="content-section-b">
    {% block bodyapp %}
    {{ parent() }}
    {% endblock %}
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><font style="background-color:#000; color:#fff;">Status dos Caixas</font>
            </h1>
        </div>

        <!-- listagem dos caixas cadastrados e ativos -->
        <div class="col-md-3">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <img src="img/i.png">
                  <h3> Caixas </h3>
              </div>
              <div class="panel-body">
                  <button class="btn btn-primary" onclick="carregaSobre(1)" style="margin-bottom: 10px;">Loja 1 - Caixa A </button>
                  <button class="btn btn-danger" onclick="carregaSobre(1)" style="margin-bottom: 10px;">Loja 1 - Caixa B </button>
                  <button class="btn btn-success" onclick="carregaSobre(1)" style="margin-bottom: 10px;">Loja 1 - Caixa C </button>
                  <button class="btn btn-success" onclick="carregaSobre(1)" style="margin-bottom: 10px;">Loja 1 - Caixa D </button>
                  <button class="btn btn-success" onclick="carregaSobre(1)" style="margin-bottom: 10px;">Loja 2 - Caixa A </button>
                  <button class="btn btn-primary" onclick="carregaSobre(1)" style="margin-bottom: 10px;">Loja 2 - Caixa B </button>
                  <button class="btn btn-danger" onclick="carregaSobre(1)" style="margin-bottom: 10px;">Loja 3 - Caixa A </button>
                  <button class="btn btn-danger" onclick="carregaSobre(1)" style="margin-bottom: 10px;">Loja 4 - Caixa A </button>
              </div>
              <div class="panel-body">
                <button class="btn btn-default">Novo Caixa</button>
              </div>
          </div>
        </div>

        <!-- controle de caixa selecionado ao lado -->
        <div class="col-md-9">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3> Sobre o Caixa </h3>
              </div>
              <div class="panel-body" id="sobre-caixa">
                Ao lado, clique no caixa que deseja visualizar as informações neste momento
              </div>

              <div class="panel-body" id="sobre-caixa">
                Ao lado, clique no caixa que deseja visualizar as informações neste momento
              </div>
          </div>
        </div>
    </div>
</div>
    <!-- /.content-section-b -->
{% endblock %}

{% block contato %}
{% endblock %}
