{% extends 'base.html.twig' %}

{%  block styles %}
{{ parent() }}
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet">
{% endblock %}
{% block body %}
<div class="content-section-b">

	<div class="container">

		<div class="row">
			<br>
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">
					Lindas Customizações<br>Ao seu Gosto
				</h2>
				<p class="lead">Transforme aquela peça que não te agrada mais
					em uma peça com estilo diferente, para que você possa sentir-se
					com a estima elevada ao usá-la novamente</p>
			</div>
			<div class="col-lg-5 col-sm-pull-6  col-sm-6">
				<img class="img-responsive"
					src={{ asset('assets/img/ant-dep.jpg') }} alt="">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-c">

	<div class="container">

		<div class="row">
			<br>
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">
					Programa Fidelidade para<br>Ainda ganhar muito mais que
					satisfação
				</h2>
				<p class="lead">Oferecemos um programa fidelidade incrível onde
					você acumula pontos a cada serviço que confia em nossas mãos,
					podendo trocar por descontos em serviços futuros ou brindes*</p>
			</div>
			<div class="col-lg-5 col-sm-pull-6  col-sm-6">
				<img class="img-responsive"
					src={{ asset('assets/img/ant-dep.jpg') }} alt="">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>

<div class="content-section-b">

	<div class="container">

		<div class="row">
			<br>
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">
					Lindas Customizações<br>Ao seu Gosto
				</h2>
				<p class="lead">Transforme aquela peça que não te agrada mais
					em uma peça com estilo diferente, para que você possa sentir-se
					com a estima elevada ao usá-la novamente</p>
			</div>
			<div class="col-lg-5 col-sm-pull-6  col-sm-6">
				<img class="img-responsive"
					src={{ asset('assets/img/ant-dep.jpg') }} alt="">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-c">

	<div class="container">

		<div class="row">
			<br>
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">
					Programa Fidelidade para<br>Ainda ganhar muito mais que
					satisfação
				</h2>
				<p class="lead">Oferecemos um programa fidelidade incrível onde
					você acumula pontos a cada serviço que confia em nossas mãos,
					podendo trocar por descontos em serviços futuros ou brindes*</p>
			</div>
			<div class="col-lg-5 col-sm-pull-6  col-sm-6">
				<img class="img-responsive"
					src={{ asset('assets/img/ant-dep.jpg') }} alt="">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
{% endblock %}